@tailwind base;
@tailwind utilities;
@tailwind components;

.text-style {
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  font-family: 'Verdana', sans-serif;
}

/* type writer */
@keyframes typingTypewriting {
  0%, 100% { content: "U"; }
  3%, 99% { content: "UI"; }
  6%, 96% { content: "UI/"; }
  9%, 93% { content: "UI/U"; }
  12%, 90% { content: "UI/UX"; }
  15%, 87% { content: "UI/UX "; }
  18%, 84% { content: "UI/UX D"; }
  21%, 81% { content: "UI/UX DE"; }
  24%, 78% { content: "UI/UX DEV"; }
  27%, 75% { content: "UI/UX DEVE"; }
  30%, 72% { content: "UI/UX DEVEL"; }
  33%, 69% { content: "UI/UX DEVELO"; }
  36%, 66% { content: "UI/UX DEVELOP"; }
  39%, 63% { content: "UI/UX DEVELOPE"; }
  42%, 60% { content: "UI/UX DEVELOPER"; }
  /* 30%, 70% { content: "FRONT-END DEVELO"; } */
  /* 32%, 68% { content: "FRONT-END DEVELOP"; } */
  /* 34%, 66% { content: "FRONT-END DEVELOPE"; } */
  /* 36%, 64% { content: "FRONT-END DEVELOPER"; } */
}
@keyframes blinkTypewriting {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.typingTypewriting {
  --caret: currentcolor;
}
.typingTypewriting::before {
  content: "";
  animation: typingTypewriting 4s infinite;
}
.typingTypewriting::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blinkTypewriting 0.7s linear infinite;
}
.typingTypewriting.nocaret::after {
  border-right: 0;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 150s linear infinite;
}